.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
 
.ReactModal__Content {
	width:auto;
	height:auto;
  transform: translate(-50%, -50%);
  transition: transform 500ms ease-out;
}

.ReactModal__Content--after-open {
	position: absolute;
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  transform: translateY(50px);
}